.tab {
	-fx-background-color: transparent;
	-fx-background-radius: 7;
	-fx-padding: 7;
	-fx-pref-width: 200;
}

.tab:selected {
	-fx-background-color: #232323;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.tab-label {
	-fx-text-fill: #b5b5b5;
}

.tab-close-button{
    -fx-background-color: #666666;
}
.tab-close-button:hover{
    -fx-background-color: red;
}