.context-menu {
	-fx-background-color: #141414;
}

.choice-box .context-menu .label {
	-fx-text-fill: #b5b5b5;
}

.toggle-button {
	-fx-background-color: #232323;
	-fx-text-fill: #b5b5b5;
}

.toggle-button:selected {
	-fx-background-color: #666666
}

.menu-item:hover, .menu-item:focused {
	-fx-background-color: #666666;
	-fx-background-insets: 0 0 0 0;
}

.label {
	-fx-text-fill: #b5b5b5;
}

.tree-view {
	-fx-background-color: #141414;
}

.tree-cell {
	-fx-background-color: #141414;
	-fx-text-fill: #b5b5b5;
	-fx-background-insets: 0 0 0 0;
}

.tree-cell:focused {
	-fx-background-color: #232323;
}

.tab-pane {
	-fx-background-color: #232323;
}

.tab-pane > .tab-header-area > *.tab-header-background {
	-fx-background-color: #141414;
}

.tab-pane .tab-header-area {
    -fx-padding: 10 0 0 0;
}

.tab {
	-fx-background-color: transparent;
	-fx-background-radius: 2 2 0 0;
	-fx-pref-width: 200;
	-fx-background-insets: 0 0 0 0;
}

.tab:selected {
	-fx-background-color: #232323;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.tab-label {
	-fx-text-fill: #b5b5b5;
}

.tab-close-button{
    -fx-background-color: #666666;
}
.tab-close-button:hover{
    -fx-background-color: red;
}

.scroll-pane {
	-fx-background-color: #232323;
}

.context-menu {
    -fx-background-radius: 0 0 10 10;
    -fx-background-color: #232323;
}

.menu-bar {
	-fx-background-color: #232323;	
}

.menu-bar .label {
    -fx-text-fill: #b5b5b5;
}

.menu-bar .menu-button:hover {
	-fx-background-color: transparent;
}

.menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: #666666;
}

.tool-bar {
	-fx-background-color: #070707;
	-fx-padding: 0;
}

.check-box {
    -fx-text-fill: #b5b5b5;
}

.check-box .box {
    -fx-background-color: #141414;
}

.check-box:selected .mark {
    -fx-background-color: #b5b5b5;
}

.scroll-pane {
    -fx-background-color: #232323;
}

.scroll-pane > .viewport {
    -fx-background-color: #232323;
}

.button {
    -fx-background-color: #141414;
    -fx-background-radius: 10;
    -fx-text-fill: #b5b5b5;
}

.text-field {
    -fx-background-color: #141414;
    -fx-text-fill: #b5b5b5;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
   -fx-background-color: transparent;
   -fx-background-insets: 0;
   -fx-background-radius: 2em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.tree-view > .virtual-flow > .corner,
.scroll-bar > .corner {
    -fx-background-color: transparent;
}

.tree-view .scroll-bar:horizontal .thumb,
.tree-view .scroll-bar:vertical .thumb {
    -fx-background-color : #232323;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.tree-view .scroll-bar:horizontal .thumb:hover,
.tree-view .scroll-bar:vertical .thumb:hover,
.tree-view .scroll-bar:vertical .thumb:pressed,
.tree-view .scroll-bar:horizontal .thumb:pressed {
    -fx-background-color : #666666;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : #141414;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color : #666666;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar{
   -fx-background-color: transparent;
   -fx-background-radius: 2em;
   -fx-focus-color: transparent;
   -fx-faint-focus-color: transparent;
}

.scroll-bar:vertical:focused {
   -fx-background-color: transparent;
}

#plusTab {
    -fx-pref-width: 24px;
}

#plusTab .tab-label {
    -fx-text-fill: transparent;
}

.root {
    -fx-background-color: #232323
}